*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #0B0F1A;
    --accent:#1E90FF;
    --white: #FFFFFF;
    --shadow: 3px 4px rgba(255, 255, 255, 0.05);;
}
html {
scroll-behavior: smooth;
}
body {
    word-spacing:.1rem;
    background-color: var(--background-color);
    color: var(--white);
    line-height: 1.6;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    color: var(--accent);
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 1rem;
}
a.skip-link {
    position: absolute;
    top: -60px;
    left: 0;
    background: var(--accent);
    color: #000;
    padding: 8px 16px;
    z-index: 100;
    transition: top 0.3s ease;
}
a.skip-link:focus {
    top: 0;
    font-weight: 900;
    background: var(--accent);
     color: black;
}
header {
    position: relative;
     background: url('images/secondbackground.jpeg') center/cover no-repeat;
     min-height: 100vh;
     background-position: right center;
}

 header:before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0,0,0,0.09), rgba(30,144,255, 0.07));
  }
 
 .herocontainer {
    padding: 20px;
    position: relative;
    z-index: 1;
    max-width: 500px;
    animation: fadeIn 0.8s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
 }
 @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
 }
#hero h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    line-height: 1.3;
}
#hero h1 > span {
    color: var(--accent);
}
#hero p {
    font-size: 0.95rem;
    margin-bottom: 25px;
    color: #ddd;
}
.herobtns {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#navdiv {
    height: auto;
    width: 100vw;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

nav ul {
    position: absolute;
    top: 3rem;
    height: 100vh;
    width: 100vw;
    background: #16203b;
    left: 0;
    transition: transform .3s ease-in-out;
    transform: translateX(-100%);
    border: 1px inset var(--accent);
    z-index: 100;
;
}

nav ul.active {
     transform: translateX(0);
   
}
nav ul li {
    list-style-type: none;
    margin: 10px;
    text-align: center;
}
nav ul li a:link {
text-decoration: none;
color:var(--white);
letter-spacing: 3px;
text-transform: capitalize;
font-size: 1.1rem;
}
nav ul li a:visited {
    color: #FFFFFF;
}
nav ul li a:hover {
    color: var(--accent);
    text-decoration: underline;
}
#togglebtn {
    width: 35px;
    height: 35px;
    outline: none;
    background: transparent;
    cursor: pointer;
    padding: 2px;
    border: none;
    margin-right: 1rem;
}
span.bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3px;
    width: 100%;
     margin-bottom: 5px;
    background-color: white;
}
main {
    margin: 0 auto;
    padding: 12px 10px;
    display: block;
   }
.containers {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
section p {
  margin-bottom: 10px;
  font-size: 0.95rem;
  padding: 10px 12px;
}
 section {
    margin: 5rem auto;
     text-transform:capitalize;
     padding: 80px 40px;
     border-radius: 10px;
 }
 section h1,section h2, section h3, section h4 {
    text-transform: capitalize;
   margin-bottom: 15px;
 }
.lightbg {
    background: #111827;
}
.btn {
    padding: 10px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    display: block;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
    box-shadow: 0 5px 15px rgba(30, 144, 255, 0.3);
}
.btn.primary {
    background: var(--accent);
;
    color:#fff;
}
.btn.primary:hover {
border: 1px solid var(--accent);    color:var(--accent);
background:none;
}
.btn.secondary {
border: 1px solid var(--accent);    color:var(--accent);
}
.btn.secondary:hover {
border: 1px solid var(--accent);    color:var(--white);
background: var(--accent);
}


/*PRODUCT SECTION */
.products {
  background: #0B0F1A;
  color: #fff;
  padding: 30px 20px;
  text-align: center;
}
.products h2 {
  margin-bottom: 25px;
}

/* GLOBAL  GRID SECTION */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* GLOBARD GRID CARD */
.card {
  background: rgba(255, 255, 255, 0.03);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 12px;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}
/* HOVER */
.card:hover {
  transform: translateY(-5px);
  border-color: #1E90FF;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4)
}
.card h3 {
  margin-bottom: 6px;
}
.card p {
  font-size: 0.9rem;
  color: #ccc;
  margin-bottom: 10px;
}
.products .card {
  text-align: center;
 }


/* PRODUCT IMAGE */
.productcard{
    background: #111827;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.05);
    transition: 0.3s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4)
}
.card-image {
    position: relative;
}

.card-image img {
    transition: .3s ease;
  width: 100%;
  display: block;
}
.productcard:hover img {
    transform: scale(1.05);
}
.productcard
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    color: #fff;
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 5px;
}
.card-content {
    padding: 14px;
}
.card-content h3 {
margin-bottom: 5px;
}
.card-content p {
font-size: 0.9rem;
}
.bottom-card {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/* PRICE */
.price {
   color: #1E90FF;
  font-weight: bold;
}

/* BUTTON */
.productbtn {
font-size: 0.85rem;
  text-align: center;
  padding:6px 12px;
  background: #1E90FF;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: transform .3s ease-in-out, border-color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.productcard:hover {
    transform: translateY(-6px);
    border-color: var(--accent);
    box-shadow: 0 10px 30px rgba(0,0,0,0.6);
}

.chatbtn {
border: 1px solid var(--accent);
 }

/* LEAD FORM */
#formsection {
    background: #0B0F1A;
    color:#fff;
    padding:30px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#formsection h2 {
    margin-bottom: 10px;
}
#formsection p {
    color: #ccc;
    margin-bottom: 20px;
}
.form_wrapper {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
} 
form {
    padding: 20px;
    border: 1px inset var(--accent);
    border-radius: 10px;
    box-shadow: 4px 4px  rgba(30,144,255, 0.07);
    transition: transform .3s ease-in-out;
 margin: 0 auto;
max-width: 400px;
background: #111827;
display: grid;
grid-template-columns: 1fr;
gap: 12px;
}
.full {
    grid-column: 1 / -1;
}
form:hover {
transform: translateY(10px);
}
form .input, form select {
    padding:  8px 12px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    outline: none;
    width: 100%;
    font-size: 0.95rem;
     background: #0f172a;
     color: #fff;
    transition: all 0.25s ease;
    margin: 5px 0;
    box-sizing: border-box;
 }
 .input:focus, select:focus  {
    border: 1px solid #1E90FF;
box-shadow:0 0 0 3px rgba(30, 144, 255, 0.15); 
}
input::placeholder {
    color: #777;
}
input:hover, select:hover {
    border: 1px solid rgba(255, 255, 255, 0.03);
}
option {
    width: fit-content;
    background: #16203b;
    color: #ffffff;
    border: 1px solid #1E90FF;
    border-radius: 6px;
    cursor: pointer;
}

button {
    opacity:.9;
    width: 100%;
     background: var(--accent);
     color: #fff;
     padding: 14px;
     border-radius: 10px;
     font-weight:500;
     cursor: pointer;
     border: none;
    transition: 0.25s ease;
     outline: none;
}
button:hover {
  opacity:1;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(30, 144, 255, 0.25);
}
#buyFields, #swapFields, #sellFields {
display: grid;
grid-template-columns: 1fr;
gap: 1rem;
}
#swapFields, #sellFields {
    display: none;
}
/* live images preview */
.preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin-top: 10px;
}
.upload-label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.8rem;
    color: #ccc;
}
.preview-grid img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.05);
}
/* form validation */
.errorMsg {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
    display: none;
}
.form-group {
    display: flex;
    flex-direction: column;
}
input.error, select.error {
    border: 1px solid red;
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}
input.success, select.success {
    border: 1px solid green;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
}
/* FOOTER */
.footer {
    position: relative;
  background: var(--background-color);
  color: #fff;
  padding: 40px 20px 20px;
  font-size: 0.9rem;
   border-top: 1px solid rgba(255,255,255,0.05);
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
padding-left: 10px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li, .footer-section p {
  margin: 16px 0;
  color: #ccc;
}

/* BUTTON */
.footer-btn {
  display: inline-block;
  margin-top: 10px;
  background: #1E90FF;
  color: #fff;
  padding: 10px 16px;
  border-radius: 6px;
  text-decoration: none;
}
.footer-btn:hover  {
  opacity: .8;
}
/* BOTTOM */
.footer-bottom {
  margin-top: 25px;
  border-top: 1px solid rgba(255,255,255,0.05);
  padding-top: 15px;
  text-align: center;
  color: #777;
}

.scrollBtn {
    /* height: 40px;
    width: 40px; */
    border-radius: 50%;
    color:var(--white);
    box-sizing: var(--shadow);
    border: transparent;
    position: fixed;
    right: -100%;
    bottom: 5rem;
    text-align: center;
    z-index: 20;
    opacity: .6;
    font-size: 1.2rem;
    background: gold;
    padding: 5px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease-in-out, opacity 1s ease-in-out;
    text-decoration: none;
}
.showScroll {
    right: 3rem;
}
.scrollBtn:hover {
    transform: scale(1.05);
    opacity: 1;
}
.loopdiv h2#looph2 {
     padding: 0;
    margin: 1.5rem 0;
  }
.loopdiv > h2 > span {
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 1.25em;
    padding: 0;
    vertical-align: middle;
    width: fit-content;
    display: inline-block;
    color: var(--accent);
}
.loopdiv  h2 > span > span {
    display: block;
    animation: h2loop 5s infinite ease-in-out;
 }
 @keyframes h2loop {
    0%  {
        transform: translateY(0%);
    }
    25%  {
        transform: translateY(-100%);
    }
    50%  {
        transform: translateY(-200%);
    }
    75%  {
        transform: translateY(-300%);
    }
    100%  {
        transform: translateY(-400%);
    }
 }
 section#cta {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    background: linear-gradient(rgba(30, 144, 255, 0.05), #111827);
}
section h2, section h3 {
    text-align: center;
    margin-bottom: 25px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    #swapFields, #sellFields {
    display: none;
}
  section h2,section h3,section h4 {
    text-align: center;
  }
  .reveal {
    transform: translateY(20px);
  }
}
/* media queries: TABLETs */
@media screen  and (min-width:768px){
    .herocontainer {
        max-width: 600px;
       margin: 2rem 15px 0;
    }
    #hero h1 {
        font-size: 2.4rem;
    }
    #hero p {
        font-size: 1.1rem;
    }
    #hero  .herobtns {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
     
    .logo {
    font-size:  1.82rem;
}
.text-block {
    max-width: 600px;
}
nav {
    margin-right: 3rem;
}
nav ul {
    position: unset;
    top: unset;
    height: auto !important;
    width: unset;
    background: unset;
    left: unset;
    transition:umset;
    transform: unset;
    border: unset;
    z-index: unset;
;
display: flex;
flex-direction: row;
gap:12px;
align-items: center;
justify-content: center;
  }
.containers {
     padding: 0 24px;
}
#togglebtn {
    display: none;
}
#btncontain {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
   .chatbtn {
    max-width: 50%;
 }
.grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #swapFields, #sellFields {
    display: none;
}
 #buyFields, #swapFields, #sellFields {
display: grid;
grid-template-columns: repeat(2, 1fr);
 }
  
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .footer-section {
    flex: 1;
  }

  .footer-bottom {
    text-align: center;
  }
  #proof, #cta {
display: grid;
place-items: center;  }
}

/* media queries: DESKTOP */
@media screen and (min-width:1024px) {
    .containers {
    max-width: 1024px;
    padding: 0 40px;
  
}
#hero {
    padding: 20px 30px;
    text-align: left;
    justify-content: flex-start;
}

#hero h1 {
    font-size: 3rem;
}
.herobtns {
    justify-content: flex-start;
}

.grid {
    grid-template-columns: repeat(3, 1fr);
  }
form {
    grid-template-columns: repeat(2, 1fr);
  }
 .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
 }
  #swapFields, #sellFields {
    display: none;
}

#btncontain {
    gap: 3.5rem;
}
}

@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (prefers-reduced-motion: reduce) {
    .reveal {
        opacity: 1;
        transform: none;
        transition: none;
    }
}

.reveal {
    opacity: 0;
    transition: transform .8s ease, opacity .8s ease, filter .8s ease;
     /* transform: translateY(40px);
     filter: blur(6px); */
}

.revealVisible {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
    filter: blur(0);
}
.reveal-up {
    transform: translateY(25px);
}
.reveal-scale {
    transform: scale(0.9);
}
.reveal-right {
    transform: translateX(25px);
}
.reveal-left {
    transform: translateX(-35px);
}